.tableHeader{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
}

.arrow{
    margin: 0 !important;
    height: auto;
    padding: 0;
}